
.albums__links--list
  background-color: rgb(127, 140, 141)
  width: 10rem
  height: 30rem
  float: left
  padding-top: 2rem
  margin-top: 2rem

.albums__links
  display: block
  font-size: 2rem
  text-align: center
  text-decoration: none
  margin: 1rem
